 <section>
        <div class="container">
            <h1>Registro</h1>
            <br>
                <form action="/register" method="POST">
                    <label for="first_name">Nombre:</label>
                    <input type="text" name="first_name" placeholder="Ingrese el Nombre">
                    <label for="last_name">Apellido:</label>
                    <input type="text" name="last_name" placeholder="Ingrese el Apellido">
                    <label for="age">Edad:</label>
                    <input type="number" name="age" placeholder="Ingrese la edad">
                    <label for="emai">E-mail:</label>
                    <input type="text" name="email" placeholder="Ingrese el Email">
                    <label for="password">Clave:</label>
                    <input type="text" name="password" placeholder="Ingrese el password">
                    <label for="role">Rol:</label>
                    <input type="text" name="role" placeholder="Ingrese el rol">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </form>
  

            {{#if error}}
             <p>{{error}}</p>
            {{/if}}

            <p>¿Ya tienes cuenta?</p>
            <a href="/login">Login</a>

        </div>
    </section>