 <h1>Prueba de multer</h1>

 <form action="/src/views/layouts/subArc.hbs" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" placeholder="subir un archivo">
    <button>Enviar</button>
 
 </form>